
@{
    ViewBag.Title = "Studies";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    List<CORE.Tables.TB_SUBJECTS> list = ViewBag.Schedule;
    List<CORE.Tables.TB_BOX_SUBJECTS> listBox = ViewBag.BoxSubject;
    List<CORE.Tables.TB_FILES> listFile = ViewBag.Files;
}
@model List<CORE.Tables.TB_SCHEDULES>

<!-- Slider Area Start -->
<div class="slider-area section">
    <div id="hero-slider" class="slides">
        <img src="~/Assets/img/slider/1.jpg" alt="" title="#slider-caption1" />
        <img src="~/Assets/img/slider/2.jpg" alt="" title="#slider-caption2" />
    </div>
    <div id="slider-caption1" class="nivo-html-caption nivo-caption">
        <div class="container">
            <div class="row">
                <div class="hero-content col-md-12">
                    <h2 class="wow fadeInUp" data-wow-delay="0.5s">Chào mừng bạn đến với trung tâp </h2>
                    <h1 class="wow fadeInUp" data-wow-delay="1s">Học viện tốt nhất</h1>
                    <p class="wow fadeInUp hidden-xs" data-wow-delay="1.5s">
                        LỚP HỌC <br>
                        <br>Địa điểm lớp học ở vị trí thuận tiện. Lớp học được trang bị đồ dùng mới, hiện đại, đảm bảo chất lượng tốt nhất.
                    </p>
                    <a class="btn wow fadeInUp" data-wow-delay="2s" href="/Class">Xem danh sách lớp học</a>
                </div>
            </div>
        </div>
    </div>
    <div id="slider-caption2" class="nivo-html-caption nivo-caption">
        <div class="container">
            <div class="row">
                <div class="hero-content col-md-12">
                    <h2 class="wow fadeInUp" data-wow-delay="0.5s">Chào mừng bạn đến với trung tâp </h2>
                    <h1 class="wow fadeInUp" data-wow-delay="1s">Học viện tốt nhất</h1>
                    <p class="wow fadeInUp hidden-xs" data-wow-delay="1.5s">
                        TÀI LIỆU
                        <br>Học sinh được cung cấp hàng trăm tài liệu môn học từ cơ bản đến nâng cao do các giáo viên của Trung tâm biên soạn
                        <br>
                    </p>
                    <a class="btn wow fadeInUp" data-wow-delay="2s" href="/Class">Xem danh sách lớp học</a>
                </div>
            </div>
        </div>
    </div>
    <div id="slider-caption1" class="nivo-html-caption nivo-caption">
        <div class="container">
            <div class="row">
                <div class="hero-content col-md-12">
                    <h2 class="wow fadeInUp" data-wow-delay="0.5s">Chào mừng bạn đến với trung tâp </h2>
                    <h1 class="wow fadeInUp" data-wow-delay="1s">Học viện tốt nhất</h1>
                    <p class="wow fadeInUp hidden-xs" data-wow-delay="1.5s">
                        GIÁO VIÊN GIỎI <br>
                        <br>Đội ngũ giáo viên của Trung tâm là các thầy cô dạy giỏi, giàu kinh nghiệm, có phương pháp giảng dạy phù hợp với từng học sinh.
                    </p>
                    <a class="btn wow fadeInUp" data-wow-delay="2s" href="/Class">Xem danh sách lớp học</a>
                </div>
            </div>
        </div>
    </div>
    <div id="slider-caption2" class="nivo-html-caption nivo-caption">
        <div class="container">
            <div class="row">
                <div class="hero-content col-md-12">
                    <h2 class="wow fadeInUp" data-wow-delay="0.5s">Chào mừng bạn đến với trung tâp </h2>
                    <h1 class="wow fadeInUp" data-wow-delay="1s">Học viện tốt nhất</h1>
                    <p class="wow fadeInUp hidden-xs" data-wow-delay="1.5s">
                        CHẤT LƯỢNG
                        <br />Các học sinh được giảng dạy theo phương pháp phù hợp nhất với từng em, giúp các em hiểu bài ngay trên lớp.
                        <br>
                    </p>
                    <a class="btn wow fadeInUp" data-wow-delay="2s" href="/Class">Xem danh sách lớp học</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Slider Area -->
<!-- About Area Start -->
<div class="about-area section bg-white pt-120 pb-90">
    <div class="container">
        <div class="row">
            <!-- About Image -->
            <div class="about-image col-md-5 col-xs-12 float-right mb-30"><img src="~/Assets/img/about.jpg" alt=""></div>
            <!-- About Content -->
            <div class="about-content col-md-7 col-xs-12 mb-30">
                <h3>Về trung tâm study</h3>
                <p>Mô tả của trung tâm</p>
                <a class="btn" href="/Introduce">Vào ngay</a>
            </div>
        </div>
    </div>
</div>
<!-- End of About Area -->
<!-- Course Area Start -->
<div class="course-area bg-gray section pt-120 pb-90">
    <div class="container">
        <!-- Section Title -->
        <div class="row">
            <div class="section-title text-center col-xs-12 mb-80">
                <h3>Các môn học đang giảng dạy</h3>
                <p>Mô tả ngắn</p>
            </div>
        </div>
        <!-- Course Wrapper -->
        <div class="course-wrapper row">
            <!-- Course Item -->
            @foreach (var course in Model)
            {
                <div class="col-md-4 col-sm-6 col-xs-12 mb-30">
                    <div class="course-item">
                        <a class="image" href="/Class/Detail?scheduleId=@course.ScheduleId">
                            @if (string.IsNullOrEmpty(course.ScheduleFileId))
                            {
                                <img src="~/Assets/img/course/1.jpg" alt="">
                            }
                            else
                            {
                                <img style="height:250px;" src="@listFile.Where(x=>x.FileId.ToString().Equals(course.ScheduleFileId)).FirstOrDefault().FileUrl" />
                            }
                        
                        </a>
                        <div class="content">
                            <h4 class="title"><a  href="/Class/Detail?scheduleId=@course.ScheduleId">
                                @list.Where(x=>x.SubjectId == (listBox.Where(y=>y.BoxSubjectId == course.ScheduleIdBoxSubjectId).FirstOrDefault().BoxSubjectSubjectId)).FirstOrDefault().SubjectName
                                </a></h4>
                            @* <div class="course-info"> *@
                            @*     <a href="#">Faculty of ME</a> *@
                            @*     <span><i class="zmdi zmdi-calendar-check"></i> 4 years</span> *@
                            @* </div> *@
                        </div>
                    </div>
                </div>
            }


        </div>
    </div>
</div>
<!-- End of Course Area -->
<!-- Funfact Area Start -->
<div class="funfact-area section pt-100 pb-50">
    <div class="container">
        <div class="row">
            <!-- Single Funfact -->
            <div class="col-sm-3 col-xs-6 mb-50">
                <div class="single-funfact">
                    <h2><span class="counter">79</span>+</h2>
                    <h4>Giáo viên</h4>
                </div>
            </div>
            <!-- Single Funfact -->
            <div class="col-sm-3 col-xs-6 mb-50">
                <div class="single-funfact">
                    <h2><span class="counter">750</span>+</h2>
                    <h4>Học sinh</h4>
                </div>
            </div>
            <!-- Single Funfact -->
            <div class="col-sm-3 col-xs-6 mb-50">
                <div class="single-funfact">
                    <h2><span class="counter">36</span>+</h2>
                    <h4>Bài Giảng</h4>
                </div>
            </div>
            <!-- Single Funfact -->
            <div class="col-sm-3 col-xs-6 mb-50">
                <div class="single-funfact">
                    <h2><span class="counter">20</span>+</h2>
                    <h4>Trường học</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Funfact Area -->
<!-- Gallery Area Start -->
<div class="gallery-area section bg-white pt-120 pb-0">
    <div class="container">
        <!-- Section Title -->
        <div class="row">
            <div class="section-title col-xs-12 mb-80">
                <h3>Ảnh học viên</h3>

            </div>
        </div>
    </div>
    <!-- Portfolio Wrapper -->
    <div class="container-fluid">
        <div class="row">
            <a href="~/Assets/img/gallery/big-1.jpg" class="gallery-item image-popup col-lg-3 col-md-4 col-sm-6 col-xs-12"><img src="~/Assets/img/gallery/1.jpg" alt=""></a>
            <!-- Gallery Item -->
            <a href="~/Assets/img/gallery/big-2.jpg" class="gallery-item image-popup col-lg-3 col-md-4 col-sm-6 col-xs-12"><img src="~/Assets/img/gallery/2.jpg" alt=""></a>
            <!-- Gallery Item -->
            <a href="~/Assets/img/gallery/big-3.jpg" class="gallery-item image-popup col-lg-3 col-md-4 col-sm-6 col-xs-12"><img src="~/Assets/img/gallery/3.jpg" alt=""></a>
            <!-- Gallery Item -->
            <a href="~/Assets/img/gallery/big-4.jpg" class="gallery-item image-popup col-lg-3 col-md-4 col-sm-6 col-xs-12"><img src="~/Assets/img/gallery/4.jpg" alt=""></a>
            <!-- Gallery Item -->
            <a href="~/Assets/img/gallery/big-5.jpg" class="gallery-item image-popup col-lg-3 col-md-4 col-sm-6 col-xs-12"><img src="~/Assets/img/gallery/5.jpg" alt=""></a>
            <!-- Gallery Item -->
            <a href="~/Assets/img/gallery/big-6.jpg" class="gallery-item image-popup col-lg-3 col-md-4 col-sm-6 col-xs-12"><img src="~/Assets/img/gallery/6.jpg" alt=""></a>
            <!-- Gallery Item -->
            <a href="~/Assets/img/gallery/big-7.jpg" class="gallery-item image-popup col-lg-3 col-md-4 col-sm-6 col-xs-12"><img src="~/Assets/img/gallery/7.jpg" alt=""></a>
            <!-- Gallery Item -->
            <a href="~/Assets/img/gallery/big-8.jpg" class="gallery-item image-popup col-lg-3 col-md-4 col-sm-6 col-xs-12"><img src="~/Assets/img/gallery/8.jpg" alt=""></a>
        </div>
    </div>
</div>
<!-- End of Gallery Area -->
<!-- End of Event Area -->
<!-- Testimonial Area Start -->
@*<div class="testimonial-area overlay section pt-100 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
                    <!-- Testimonial Slider -->
                    <div class="testimonial-slider text-center">
                        <!-- Single Testimonial -->
                        <div class="sin-testimonial">
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable orem Ipsum available, but the majority have suffered.</p>
                            <h4>Steven Hunt</h4>
                        </div>
                        <!-- Single Testimonial -->
                        <div class="sin-testimonial">
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable orem Ipsum available, but the majority have suffered.</p>
                            <h4>Adam James</h4>
                        </div>
                        <!-- Single Testimonial -->
                        <div class="sin-testimonial">
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable orem Ipsum available, but the majority have suffered.</p>
                            <h4>Kattie Luis</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
<!-- End of Testimonial Area -->

@if (@ViewBag.error != "")
{
    <script>
        const text =  @Html.Raw(Json.Encode(@ViewBag.error));
        toastr.error(text,"Notifications")
    </script>
}