@model List<AFD.Views.GYM_INFO_PACKAGE_USER>

<div class="panel panel-flat">
    <div class="panel-heading">
        <h6 class="panel-title">Thông tin các gói tập</h6>
        <div class="heading-elements">
            <ul class="icons-list">
                <li><a data-action="collapse"></a></li>
                <li><a data-action="reload"></a></li>
            </ul>
        </div>
    </div>

    <div class="panel-body">
        <div class="table-responsive panel-body">
            <table class="table table-framed">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên gói tập</th>
                        <th>Loại gói tập</th>
                        <th>Số lần tập</th>
                        <th>Thời gian kết thúc</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <tr class="bg-success-300">
                            <td class="text-center">@(i + 1)</td>
                            <td class="text-center">@Model[i].PACKAGE_NAME</td>
                            <td class="text-center">@(Model[i].PACKAGE_TYPE == 0 ? "Tập theo lần" : Model[i].PACKAGE_TYPE == 1 ? "Tập theo tháng" : "")</td>
                            <td class="text-center">@(Model[i].PACKAGE_TYPE == 0 ? "" + Model[i].RG_PACKAGE_TIMES_BLANK : "")</td>
                            <td class="text-center">@(Model[i].PACKAGE_TYPE == 1 ? Model[i].RG_PACKAGE_DATE_END.ToString("dd/MM/yyyy") : "")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>