@model List<AFD.Views.GYM_CHECKIN_SERVICE>

@if (Model.Count > 0)
{
    <table id="scrollBottom" class="table-fixed">
        <tr>
            <td>Tên phòng tập</td>
            <td style="z-index: 2;position: relative;">Tiêu chí</td>
            @for (int i = Model[0].listView.Count - 1; i >= 0; i--)
            {
                <td>@Model[0].listView[i].dateTime.Day/@Model[0].listView[i].dateTime.Month</td>
            }
        </tr>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td rowspan="5">@Model[i].BOX_NAME</td>
            </tr>
            <tr>
                <td>Tổng số</td>
                @for (int j = Model[i].listView.Count - 1; j >= 0; j--)
                {
                    <td class="txtCurrency">@((Model[i].listView[j].AmountRegisPackage + @Model[i].listView[j].AmountCustomer + @Model[i].listView[j].AmountProduct).ToString().Replace(".00", "") )</td>
                }
            </tr>
            <tr>
                <td>Gói tập</td>
                @for (int j = Model[i].listView.Count - 1; j >= 0; j--)
                {
                    <td class="txtCurrency">@Model[i].listView[j].AmountRegisPackage.ToString().Replace(".00", "")</td>
                }
            </tr>
            <tr>
                <td>Khách lẻ</td>
                @for (int j = Model[i].listView.Count - 1; j >= 0; j--)
                {
                    <td class="txtCurrency">@Model[i].listView[j].AmountCustomer.ToString().Replace(".00", "") </td>
                }
            </tr>
            <tr>
                <td>Hàng hóa</td>
                @for (int j = Model[i].listView.Count - 1; j >= 0; j--)
                {
                    <td class="txtCurrency">@Model[i].listView[j].AmountProduct.ToString().Replace(".00", "") </td>
                }
            </tr>
        }
    </table>
}
else
{
    <span>Không có Báo cáo doanh thu</span>
}

<script>
    $(document).ready(function () {
        
        $('[data-toggle="tooltip"]').tooltip();

        var scrollLeft = 0;
        var scrollTop = 0;
        $('.div-table-report')[0].addEventListener("scroll", function () {
            if (this.scrollTop != scrollTop) {
                scrollTop = this.scrollTop;
                if (this.scrollTop > 1) {
                    scrollTop = parseInt(this.scrollTop) - 1;
                } else {
                    scrollTop = this.scrollTop;
                }
                $(".table-fixed>tbody>tr:first-child>td")
                    .css("transform", "translate(0," + scrollTop + "px)");
            }
            if (this.scrollLeft != scrollLeft) {
                scrollLeft = this.scrollLeft;
                if (this.scrollLeft > 1) {
                    scrollLeft = this.scrollLeft - 1;
                }
                else {
                    scrollLeft = this.scrollLeft;
                }
                $(".table-fixed>tbody>tr:not(:first-child)>td:first-child")
                    .css("transform", "translate(" + scrollLeft + "px,0)");
                $(".table-fixed>tbody>tr:first-child>td:nth-child(-n+2)")
                    .css("transform", "translate(" + scrollLeft + "px," + scrollTop + "px)");
            }
        });
        $(".txtCurrency").each(function () {
            $(this).text(Features.FormatCurency($(this).text().split(",")[0]));
        });

        $(".btnStatistic").click(function () {
            $.ajax({
                url: "/BaoCao/_DoanhThu",
                type: "post",
                data: {
                    startDate: $(".datefrom").val(),
                    endDate: $(".dateto").val()
                },
            }).done(function (result) {
                $(".div-table-report").html(result);
            });
        })
    })
</script>