@model List<AFD.Tables.SYS_USERS>
<div class="well">
    <table class="table">
        <thead>
            <tr>
                <th class="fixed-col">STT</th>
                <th>Tên học viên</th>
                <th>Email</th>
                <th>Tài khoản</th>
                <th>Loại tài khoản</th>
                <th>Ngày tạo</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td class="fixed-col">@(i + 1)</td>
                    <td>@Model[i].USER_FULLNAME</td>
                    <td>@Model[i].USER_LOGIN_EM</td>
                    <td>
                        @if (string.IsNullOrEmpty(Model[i].USER_LOGIN_PN))
                        {
                            if (string.IsNullOrEmpty(Model[i].USER_LOGIN_FB))
                            {
                                if (string.IsNullOrEmpty(Model[i].USER_LOGIN_GG))
                                {

                                }
                                else
                                {
                                    @Model[i].USER_LOGIN_GG;
                                }
                            }
                            else
                            {
                                @Model[i].USER_LOGIN_FB;
                            }
                        }
                        else
                        {
                            @Model[i].USER_LOGIN_PN;
                        }

                    </td>
                    <td>@Model[i].USER_TYPE</td>
                    <td>@Model[i].USER_CREATETIME</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    let url_get = "/BaoCao/_HocVienConHan";
    let getParamsForSearch = (pageNumber,isNext)=>{
        return {
            "UserID": $(".txtSearch").val(),
        };
    }
    var features = new Features(url_get,@Html.Raw(Json.Encode(Model)),getParamsForSearch);
</script>