@using System
@using System.Web.Mvc.Html
@using CORE.Views;
@model List<V_TRACKING_USER_CLASS>
@{
    int? totalPage = 0;
    totalPage = (int?)ViewBag.maxNumber;
    var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    serializer.MaxJsonLength = Int32.MaxValue;
    var jsonModel = serializer.Serialize(Model);
    var ok = jsonModel;

    List<CORE.Tables.TB_USERS> listUser = ViewBag.User;
    List<CORE.Tables.TB_SCHEDULES> listSchedule = ViewBag.Schedule;

}
<style>
    .table > thead > tr > td:first-child {
        border-left: none;
    }

    .table > thead > tr > td {
        border-left: 1px solid #ddd;
    }

    .table > tbody > tr > td:first-child {
        border-left: none;
    }

    .table > tbody > tr > td {
        border-left: 1px solid #ddd;
    }
</style>
<div class="div-h100 @if (totalPage.HasValue && totalPage.Value > 1) { <text>div-bottom56</text> }">
    <div class="div-h100-body">
        <div class="well">
            <table class="table">
                <thead>
                    <tr>
                        <th class="fixed-col">STT</th>
                        <th>Tên học sinh</th>
                        <th>Tên lớp</th>
                        <th>Danh sách ngày điểm danh</th>
                        <th>Tổng số buổi đã điểm danh</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        string b = "";
                        <tr class="text-center">
                            <td class="fixed-col">@((ViewBag.pageNumber - 1) * ViewBag.pageSize + i + 1)</td>
                            <td>@(listUser.Where(x => x.UserId == Model[i].userId).FirstOrDefault().UserFullName)</td>
                            <td>@(listSchedule.Where(x => x.ScheduleId == Model[i].schedueId).FirstOrDefault().ScheduleCode)</td>
                            @foreach (var date in Model[i].dateTracking)
                            {

                                b += date.ToString("dd/MM/yyyy") + ",";
                            }
                            <td>@b</td>
                            <td>@Model[i].dateTracking.Count</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="">
    @{ Html.RenderAction("_Pagination", "HomeAdmin", new { maxNumber = ViewBag.maxNumber, pageNumber = ViewBag.pageNumber });}
</div>

<script>
    let url_get = "/Admin/Report/_Tracking";
    let viewBag = @Html.Raw(Json.Encode(ViewBag.listCreateTime));
    let getParamsForSearch = (pageNumber,isNext)=>{
        return {
            "userId": $("#userId").val() ,
            "scheduleId": $("#scheduleId").val() ,
            "pageNumber": pageNumber + isNext,
            "pageSize": $(".select2-selection--single.select2-selection__rendered.d-inline page-size").val() ,
            "startDate" : convertDate($("#startDate").val()),
            "endDate" : convertDate($("#endDate").val())
        };
    }
    function convertDate(date){
        if(date =='') return;
        else return date.split('/').reverse().join('/');

    }

    var features = new Features(url_get,@Html.Raw(jsonModel),getParamsForSearch);
</script>
