@using System
@using System.Web.Mvc.Html
@using CORE.Views;
@model List<V_TRACKING_SCHEDULE>
@{
    int? totalPage = 0;
    totalPage = (int?)ViewBag.maxNumber;
    var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    serializer.MaxJsonLength = Int32.MaxValue;
    var jsonModel = serializer.Serialize(Model);
    var ok = jsonModel;

    List<CORE.Tables.TB_USERS> listUser = ViewBag.User;
    List<CORE.Tables.TB_SCHEDULES> listSchedule = ViewBag.Schedule;
    List<V_TRACKING_USER_CLASS> list = ViewBag.ListDetails;
}

@if (Model.Count > 0)
{
    <table id="scrollBottom" class="table-fixed">
        <tr class="text-center">
            <td style="min-width: 100px;">Mã lớp</td>
            @for (int i = ViewBag.ListDate.Count - 1; i >= 0; i--)
            {
                <td>@ViewBag.ListDate[i].Day/@ViewBag.ListDate[i].Month</td>
            }
        </tr>
        @for (int j = 0; j < Model.Count; j++)
        {
            <tr>
                <td><a href="@Url.Action("/TrackingDetails",new { scheduledId  = Model[j].schedulesId})">@(listSchedule.Where(x => x.ScheduleId == Model[j].schedulesId).FirstOrDefault().ScheduleCode) </a></td>
                @for (int i = ViewBag.ListDate.Count - 1; i >= 0; i--)
                {

                    if (Model[j].details.Where(x => x.dateTracking.ToString("ddMMyyyy").Equals(ViewBag.ListDate[i].ToString("ddMMyyyy"))).ToList().Count > 0)
                    {
                        var item = Model[j].details.Where(x => x.dateTracking.ToString("ddMMyyyy").Equals(ViewBag.ListDate[i].ToString("ddMMyyyy"))).FirstOrDefault();
                        <td>@item.TotalTracking</td>
                            @*<td><i class="text-success icon-checkmark4"></i></td>*@

                    }
                    else
                    {
                        <td>0</td>
                            @*<td><i class="text-danger icon-cross2"></i></td>*@
                    }



                }
            </tr>
        }
    </table>
}
else
{
    <span>Không có lịch sử điểm danh</span>
}

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();

        var scrollLeft = 0;
        var scrollTop = 0;
        $('.div-table-report')[0].addEventListener("scroll", function () {
            if (this.scrollTop != scrollTop) {
                scrollTop = this.scrollTop;
                if (this.scrollTop > 1) {
                    scrollTop = parseInt(this.scrollTop) - 1;
                } else {
                    scrollTop = this.scrollTop;
                }
                $(".table-fixed>tbody>tr:first-child>td")
                    .css("transform", "translate(0," + scrollTop + "px)");
            }
            if (this.scrollLeft != scrollLeft) {
                scrollLeft = this.scrollLeft;
                if (this.scrollLeft > 1) {
                    scrollLeft = this.scrollLeft - 1;
                }
                else {
                    scrollLeft = this.scrollLeft;
                }
                $(".table-fixed>tbody>tr:not(:first-child)>td:first-child")
                    .css("transform", "translate(" + scrollLeft + "px,0)");
                $(".table-fixed>tbody>tr:first-child>td:first-child")
                    .css("transform", "translate(" + scrollLeft + "px," + scrollTop + "px)");
            }
        });
    });
</script>


<script>
    let url_get = "/Admin/Report/_Tracking";
    let viewBag = @Html.Raw(Json.Encode(ViewBag.listCreateTime));
    let getParamsForSearch = (pageNumber,isNext)=>{
        return {
            "scheduleId": $("#scheduleId").val() ,
            "pageNumber": pageNumber + isNext,
            "pageSize": $(".select2-selection--single.select2-selection__rendered.d-inline page-size").val() ,
            "startDate" : convertDate($("#startDate").val()),
            "endDate" : convertDate($("#endDate").val())
        };
    }
    function convertDate(date){
        if(date =='') return;
        else return date.split('/').reverse().join('/');

    }

    var features = new Features(url_get,@Html.Raw(jsonModel),getParamsForSearch);
</script>
