@using System
@using System.Web.Mvc.Html
@using CORE.Views;
@{
    int? totalPage = 0;
    totalPage = (int?)ViewBag.maxNumber;
    var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    serializer.MaxJsonLength = Int32.MaxValue;
    var jsonModel = serializer.Serialize(Model);
    var ok = jsonModel;

}
@{
    List<V_REPORT_TUITION> listTuition = ViewBag.Tuition;
    var resultTuition = listTuition.GroupBy(x => new {
        UserId = x.UserId,
        UserFullName = x.UserFullName

    }).Select(t => new
    {
        UserId = t.Key.UserId,
        UserFullName  = t.Key.UserFullName,
        TotalCount = t.ToList()
    }).ToList();
    List<CORE.Tables.TB_SCHEDULES> list = ViewBag.Schedule;
    List<CORE.Tables.TB_SUBJECTS> listSubject = ViewBag.Subject;
    List<CORE.Tables.TB_BOX_SUBJECTS> listBoxSujbect = ViewBag.SubjectBox;
}
<style>
    .table > thead > tr > td:first-child {
        border-left: none;
    }

    .table > thead > tr > td {
        border-left: 1px solid #ddd;
    }

    .table > tbody > tr > td:first-child {
        border-left: none;
    }

    .table > tbody > tr > td {
        border-left: 1px solid #ddd;
    }
</style>
<div class="div-h100 @if (totalPage.HasValue && totalPage.Value > 1) { <text>div-bottom56</text> }">
    <div class="div-h100-body">
        <div class="well">
            <table class="table">
                <thead>
                    <tr>
                        <th class="fixed-col">STT</th>
                        <th>Tên học sinh</th>
                        <th>Tổng học phí</th>
                        <th>Trạng thái</th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                   @{
                       decimal total = 0;
                       int i = 0;
                       foreach (var item in resultTuition)
                       {


                           total += item.TotalCount.Sum(x => x.TuitionStudies);
                        <tr class="text-center">
                            <td class="fixed-col">@((ViewBag.pageNumber - 1) * ViewBag.pageSize + i + 1)</td>
                            <td>@item.UserFullName</td>
                            <td>@CORE.Helpers.ConvertDataWithView.Currency_ToView(item.TotalCount.Sum(x => x.TuitionStudies))</td>
                            <td>Đang làm việc </td>
                            <td class="text-center">
                                <ul class="icons-list" >
                                   
                                    <li class="btnExport" data-index=@i>
                                        <button type="button" class="btn btn-default btn-sm text-danger-600" title="Xuất hóa đơn ra Exel"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Xuất hóa đơn</button>
                                    </li>
                                   

                                </ul>
                            </td>
                        </tr>
                           i += 1;
                       }
                    <tr class="text-center">
                        <td class="text-right"></td>

                        <td class="text-right">Tổng chi</td>
                        <td>@(total > 0 ? CORE.Helpers.ConvertDataWithView.Currency_ToView(total) : "0")</td>
                        <td class="text-right"></td>
                    </tr>

                }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="">
    @{ Html.RenderAction("_Pagination", "HomeAdmin", new { maxNumber = ViewBag.maxNumber, pageNumber = ViewBag.pageNumber });}
</div>

<script>
    let url_get = "/Admin/Report/_Tuition";
    let data = @Html.Raw(Json.Encode(resultTuition));
    let getParamsForSearch = (pageNumber,isNext)=>{
        return {
            "userId":$("#userId").val() ,
            "scheduleId": $("#scheduleId").val() ,
            "pageNumber": pageNumber + isNext,
            "pageSize": $(".select2-selection--single.select2-selection__rendered.d-inline page-size").val() ,
            "startDate" : convertDate($("#startDate").val()),
            "endDate" : convertDate($("#endDate").val())
        };
    }
    function convertDate(date){
        if(date =='') return;
        else return date.split('/').reverse().join('-');

    }

    var features = new Features(url_get,@Html.Raw(jsonModel),getParamsForSearch);
    $(".btnExport").click(function () {
        var stt  = $(this).data("index");
        var dataEdit = data[stt];
        var startDate = convertDate($("#startDate").val());
        var endDate = convertDate($("#endDate").val());
        //console.log('startDate : ',startDate, 'endDate : ',endDate);
        $.ajax({
            url: "/Admin/Ajax/ExportProduct",
            type: "post",
            data: {userId:dataEdit.UserId, startDate:startDate,endDate : endDate, type : "STUDIES"},
        }).done(function (result) {
            if (result.Code == "0") {
                toastr.success("Thao tác thành công");
                window.open('http://' + window.location.host + result.Result, '_self');
                setTimeout(function () {

                    window.location.reload();

                }, 1500);
            } else {
                toastr.info(result.Result);
            }
        });
    });
</script>
