@model AFD.Tables.SYS_ACTIONS

<div class="">
    <div>
        <h5>@(Model.ACTION_ID == "0" ? "Thêm mới Action (" + ViewBag.parentName + ")" : "Chi tiết Action (" + Model.ACTION_NAME + ")")</h5>
    </div>
    <div>
        <input type="hidden" id="ACTION_ID" value="@Model.ACTION_ID" />
        <input type="hidden" id="ACTION_PARENT_ID" value="@Model.ACTION_PARENT_ID" />
        <input type="hidden" id="ACTION_ISROOT" value="@(string.IsNullOrEmpty(Model.ACTION_PARENT_ID) ? "true" : "false")" />
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <label>Tên Action</label>
                    <div class="input-group w-100">
                        <input type="text" id="ACTION_NAME" value="@Model.ACTION_NAME" class="form-control not-empty">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <span>Là Module</span>
                    <div class="checkbox checkbox-switchery">
                        <label>
                            <input type="checkbox" class="switchery" id="ACTION_ISMODULE" checked="@Model.ACTION_ISMODULE" onchange="isModule()" />
                            <span class="active-label ACTION_ISMODULE">
                                @if (@Model.ACTION_ISMODULE)
                                {<text>Kích hoạt</text>}
                                else
                                {<text>Không kích hoạt</text>}
                            </span>
                        </label>
                    </div>
                </div>
                <div class="col-md-6">
                    <span>Hiển thị</span>
                    <div class="checkbox checkbox-switchery">
                        <label>
                            <input type="checkbox" class="switchery" id="ACTION_ISSHOW" checked="@Model.ACTION_ISSHOW">
                            <span class="active-label ACTION_ISSHOW">
                                @if (@Model.ACTION_ISSHOW)
                                {<text>Kích hoạt</text>}
                                else
                                {<text>Không kích hoạt</text>}
                            </span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <label>Thứ tự</label>
                    <div class="input-group w-100">
                        <input type="text" id="ACTION_ORDER" value="@Model.ACTION_ORDER" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <label>Nền tảng</label>
                    <div class="input-group w-100">
                        <select id="ACTION_TYPE" class="form-control">
                            <option value="web" selected="@(Model.ACTION_TYPE=="web")">Web</option>
                            <option value="mobile" selected="@(Model.ACTION_TYPE=="mobile")">Mobile</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <label>Đường dẫn</label>
                    <div class="input-group w-100">
                        <input type="text" id="ACTION_CONTROLPATH" value="@Model.ACTION_CONTROLPATH" disabled="@Model.ACTION_ISMODULE" class="form-control not-empty">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <label>Mô tả</label>
                    <div class="input-group w-100">
                        <input type="text" id="ACTION_DESCRIPTION" value="@Model.ACTION_DESCRIPTION" class="form-control not-empty">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <label>Icon class</label><i id="iconClassShow" style="padding-left: 10px;"></i>
                    <div class="input-group w-100">
                        <input type="text" id="ACTION_ICON_CLASS" value="@Model.ACTION_ICON_CLASS" class="form-control" onblur="iconShow()">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        @if (Model.ACTION_ID == "0")
        {
            <button type="button" id="btnSave" class="btn btn-primary">Thêm mới</button>
        }
        else
        {
            <button type="button" id="btnUpdate" class="btn btn-primary">Cập nhật</button>
            <button type="button" id="btnDelete" class="btn btn-primary btnSave">Xóa</button>
        }
    </div>
</div>

<script>
    $(document).ready(function () {
        let elems = document.querySelectorAll('.switchery');
        if (elems.length != 0) {
            for (let i = 0; i < elems.length; i++) {
                var switchery = new Switchery(elems[i], { className: "switchery " + elems[i].id });
            }
        }
        $(".switchery").click(function () {
            let className = $(this).attr('id');
            if ($(this).prop('checked')) {
                $(".active-label").each(function () {
                    if ($(this).hasClass(className)) {
                        $(this).text("Kích hoạt");
                    }
                })
            } else {
                $(".active-label").each(function () {
                    if ($(this).hasClass(className)) {
                        $(this).text("Không kích hoạt");
                    }
                })
            }
        })
    })
    function isModule() {
        var checked = $("#ACTION_ISMODULE").prop('checked');
        document.getElementById('ACTION_CONTROLPATH').disabled = checked;
    }
    function validate() {
        if ($("#ACTION_NAME").val() == '') {
            alert('Tên Action không được để trống');
            $("#ACTION_NAME").focus();
            return false;
        }
        return true;
    }
    function getParams() {
        let params = {
            ACTION_ID: $("#ACTION_ID").val(),
            ACTION_PARENT_ID: $("#ACTION_PARENT_ID").val(),
            ACTION_ISROOT: $("#ACTION_ISROOT").val(),
            ACTION_NAME: $("#ACTION_NAME").val(),
            ACTION_ISMODULE: $("#ACTION_ISMODULE").prop('checked'),
            ACTION_ISSHOW: $("#ACTION_ISSHOW").prop('checked'),
            ACTION_ORDER: $("#ACTION_ORDER").val(),
            ACTION_TYPE: $("#ACTION_TYPE").val(),
            ACTION_DESCRIPTION: $("#ACTION_DESCRIPTION").val(),
            ACTION_CONTROLPATH: $("#ACTION_ISMODULE").prop('checked') ? "" : $("#ACTION_CONTROLPATH").val(),
            ACTION_ICON_CLASS: $("#ACTION_ICON_CLASS").val()
        }
        return params;
    }
    $("#btnSave").click(function () {
        if (validate()) {
            $.ajax({
                url: '/Ajax/ActionInsert',
                type: "post",
                data: getParams(),
                success: function (data) {
                    if (data.Code == 0) {
                        toastr.success(data.Result)
                        setTimeout(() => {
                            location.reload();
                        }, 1500);
                    } else {
                        alert(data.Result);
                    }
                },
                error: function (data) {
                    console.log(data);
                }
            }).done(function (result) {

            });
        }
    })
    $("#btnUpdate").click(function () {
        if (validate()) {
            $.ajax({
                url: '/Ajax/ActionUpdate',
                type: "post",
                data: getParams(),
                success: function (data) {
                    if (data.Code == 0) {
                        location.reload();
                    } else {
                        alert(data.Result);
                    }
                },
                error: function (data) {
                    console.log(data);
                }
            }).done(function (result) {

            });
        }
    })
    $("#btnDelete").click(function () {
        if (confirm('Bạn chắc chắn xóa?')) {
            $.ajax({
                url: '/Ajax/ActionDelete',
                type: "post",
                data: {
                    ACTION_ID: $("#ACTION_ID").val()
                },
                success: function (data) {
                    if (data.Code == 0) {
                        location.reload();
                    } else {
                        alert(data.Result);
                    }
                },
                error: function (data) {
                    console.log(data);
                }
            }).done(function (result) {

            });
        }
    })
    function iconShow() {
        document.getElementById("iconClassShow").className = $('#ACTION_ICON_CLASS').val();
    }
    iconShow();
</script>