@model List<AFD.Tables.SYS_USERS>
@{
    var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    serializer.MaxJsonLength = Int32.MaxValue;
    var jsonModel = serializer.Serialize(Model);
    var ok = jsonModel;
    int? totalPage = (int?)ViewBag.maxNumber;
}

<div>
    <h5>Danh sách User (@ViewBag.Name)</h5>
</div>
<div class="div-h100 div-top56">
    <div class="div-h100-body">
        @if (Model.Count > 0)
        {
            <div class="div-h100 @if (totalPage.HasValue && totalPage.Value > 1) { <text>div-bottom56</text> }">
                <div class="div-h100-body" style="overflow: auto;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="fixed-col">STT</th>
                                <th>Tài khoản</th>
                                <th>Loại người dùng</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Count; i++)
                            {
                                <tr>
                                    <td class="fixed-col">@((ViewBag.pageNumber - 1) * ViewBag.pageSize + i + 1)</td>
                                    <td data-toggle="tooltip" title="@Model[i].USER_FULLNAME">@Model[i].USER_LOGIN_PN </td>
                                    <td>@Model[i].USER_TYPE</td>
                                    <td class="text-center">
                                        <ul class="icons-list">
                                            <li class="btnEdit">
                                                <a href=@Url.Action("CreateLisence", new { userId = Model[i].USER_ID, boxId = Model[i].USER_BOXID_DEFAULT }) class="btn btn-default btn-sm text-primary-600"><i class="icon-pencil7"></i></a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="">
                @{ Html.RenderAction("_Pagination", "Home", new { maxNumber = ViewBag.maxNumber, pageNumber = ViewBag.pageNumber }); }
            </div>
                    }
                    else
                    {
                        <span>Không có User</span>
                    }
    </div>
</div>
<div id="modal_default" class="modal fade">

</div>
<script>
    let url = "/Admin/_ListUserByBox";
    let getParamsForSearch = (pageNumber, isNext) => {
        return {
            "boxid": '@ViewBag.boxid',
            "pageNumber": pageNumber + isNext,
            "pageSize": 10,
        };
    }

    $(".page").click(function () {
        let pageNumber = parseInt($(this).find(".page-link").text());
        console.log(pageNumber)
        new Features(url, null, getParamsForSearch).ajax_getTableData(getParamsForSearch(pageNumber, 0));
    })
    $(".prev").not(".disabled").click(function () {
        let pageNumber = parseInt($(".active>.page-link").text());
        new Features(url, null, getParamsForSearch).ajax_getTableData(getParamsForSearch(pageNumber, -1));
    })
    $(".next").not(".disabled").click(function () {
        let pageNumber = parseInt($(".active>.page-link").text());
        new Features(url, null, getParamsForSearch).ajax_getTableData(getParamsForSearch(pageNumber, 1));
    })

</script>