@model AFD.Tables.SYS_LISENCE
@{
    ViewBag.Title = "CreateLisence";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="page-header page-header-default">
    <div class="page-header-content" style="background-color: #fcfcfc;">
        <div class="page-title" style="padding: 20px 0;">
            <h4>
                <a href="javascript:void(0);" onclick="history.go(-1);"><i class="icon-arrow-left52 position-left"></i></a>
                <span class="text-semibold">Lisence</span> - Create Lisence
            </h4>
        </div>
    </div>
</div>
<div class="div-h100 div-top69">
    <div class="panel-body div-h100-body">
        <div class="two-columns form-group">
            <div class="left-full">
                <div class="row">
                    <label class="col-sm-3 form-control-label">UserID</label>
                    <div class="col-sm-9">
                        <input type="text" readonly id="userId" value="@ViewBag.userId" style="border:none" />
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-3 form-control-label">BoxID</label>
                    <div class="col-sm-9">
                        <input type="text" readonly id="boxId" value="@ViewBag.boxId" style="border:none" />
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-3 form-control-label">Thời hạn : <span class="text-danger">*</span></label>
                    <div class="col-sm-9">
                        <select class="form-control" id="Time" tabindex="-1" aria-hidden="true">
                            <option value="30" selected="@(Model.LISENCE_DATE_EXPRIRE==30)">1 tháng</option>
                            <option value="60" selected="@(Model.LISENCE_DATE_EXPRIRE==60)">2 tháng</option>
                            <option value="90" selected="@(Model.LISENCE_DATE_EXPRIRE==90)">3 tháng</option>
                            <option value="180" selected="@(Model.LISENCE_DATE_EXPRIRE==180)">6 tháng </option>
                            <option value="365" selected="@(Model.LISENCE_DATE_EXPRIRE==365)">12 tháng </option>
                            <option value="999" selected="@(Model.LISENCE_DATE_EXPRIRE==999)">Vĩnh viễn </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="right-fixed">
                <a class="btn btn-info" onclick="GenKey()"><i class="fa fa-upload" aria-hidden="true"></i> Genarate</a>
                @*<button type="button" id="" class="btn btn-primary btnSearch">Tìm kiếm</button>*@
            </div>
        </div>
    </div>
</div>

<script>
    function GenKey() {
        $.ajax({
            type: "POST",
            url: "/Ajax/InsertLisence",
            data: {
                userId: $("#userId").val()
                , boxId: $("#boxId").val()
                , time: $("#Time option:selected").val()
            },
            success: function (data) {
                if (data.Code != '') {
                    toastr.info(data.Result);
                } else {
                    toastr.info(data.Result);
                }
            }
        });
    }
</script>
