
@{
    ViewBag.Title = "GetMD5HashActiveBox";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    AFD.Tables.SYS_LISENCE model = ViewBag.License;
}
<div class="page-header page-header-default">
    <div class="page-header-content" style="background-color: #fcfcfc;">
        <div class="page-title" style="padding: 20px 0;">
            <h4>
                <a href="javascript:void(0);" onclick="history.go(-1);"><i class="icon-arrow-left52 position-left"></i></a>
                <span class="text-semibold">Hệ thống</span> - Lấy mã Active chi nhánh
            </h4>
        </div>
    </div>
</div>
@if (model == null)
{
    <div class="modal-body">
        <span>Không có thông tin</span>
    </div>
}
else
{
    <div class="modal-body">
        <div class="form-group row">
            <label class="col-sm-3 form-control-label">Chi nhánh</label>
            <div class="col-sm-9">
                <input type="text" readonly id="boxId" class="form-control" value="@(model.LISENCE_BOX_ID)" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 form-control-label">Chi nhánh</label>
            <div class="col-sm-9">
                <input type="text" readonly id="userId" class="form-control" value="@(model.LISENCE_USER_ID)" />
            </div>
        </div>
        <div class="form-group row mgt-2">
            <label class="col-sm-3 form-control-label">Thời hạn</label>
            <div class="col-sm-9">
                <select class="form-control" id="Time" tabindex="-1" aria-hidden="true" disabled>
                    <option value="30" selected="@(model.LISENCE_DATE_EXPRIRE==30)">1 tháng</option>
                    <option value="60" selected="@(model.LISENCE_DATE_EXPRIRE==60)">2 tháng</option>
                    <option value="90" selected="@(model.LISENCE_DATE_EXPRIRE==90)">3 tháng</option>
                    <option value="180" selected="@(model.LISENCE_DATE_EXPRIRE==180)">6 tháng </option>
                    <option value="365" selected="@(model.LISENCE_DATE_EXPRIRE==365)">12 tháng </option>
                    <option value="999" selected="@(model.LISENCE_DATE_EXPRIRE==999)">Vĩnh viễn </option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 form-control-label">Nhập mã  : <span class="text-danger">*</span></label>
            <div class="col-sm-9">
                <input type="text" id="Code" class="form-control" placeholder="Enter code">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 form-control-label">Key :</label>
            <div class="col-sm-9">
                <input type="text" id="Key" style="color:red;" readonly class="form-control">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-info" onclick="GenKey()"><i class="fa fa-upload" aria-hidden="true"></i> Genarate</a>
    </div>
}

<script>
    function GenKey() {
        var code = $('#Code').val();
        if (code == '') {
            toastr.info("Mã không được để trống !");
        } else {
            $.ajax({
                type: "POST",
                url: "/Ajax/UpdateLisence",
                data: {
                    userId: $("#userId").val()
                    , boxId: $("#boxId").val()
                    , code: code
                },
                success: function (data) {
                    if (data.Code == 0) {
                        $('#Key').val(data.Result);
                        toastr.info("Thành công.");
                    } else {
                        $('#Key').val('');
                        toastr.info(data.Result);
                    }
                }
            });
        }
    }
</script>