@model List<AFD.Tables.GYM_PRODUCTS>
@{
    int? totalPage = (int?)ViewBag.maxNumber;
    var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    serializer.MaxJsonLength = Int32.MaxValue;
    var jsonModel = serializer.Serialize(Model);
    var ok = jsonModel;
}

<div class="div-h100 @if (totalPage.HasValue && totalPage.Value > 1) { <text>div-bottom56</text> }">
    <div class="div-h100-body">
        <div class="well">
            <table class="table">
                <thead>
                    <tr class="text-center">
                        <th class="fixed-col">STT</th>
                        <th>Mã sản phẩm</th>
                        <th>Tên sản phẩm</th>
                        @*<th>Giá</th>*@
                        <th>Hình ảnh</th>
                        @*<th>Sản phẩm tồn kho</th>*@
                        <th>Đơn vị</th>
                        <th>Mô tả</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <tr class="text-center">
                            <td class="fixed-col">@((ViewBag.pageNumber - 1) * ViewBag.pageSize + i + 1)</td>
                            <td>@Model[i].PRODUCT_CODE</td>
                            <td>@Model[i].PRODUCT_NAME</td>
                            @*<td class="txtCurrency">@Model[i].PRODUCT_PRICE.ToString().Replace(".00", "") VNĐ</td>*@
                            <td>
                                <img src='@Model[i].PRODUCT_IMAGE' width="50" height="50" alt="Error">
                            </td>
                            @*<td>@Model[i].PRODUCT_INVENTORY</td>*@
                            <td>@Model[i].PRODUCT_UNIT</td>
                            <td>@Model[i].PRODUCT_DESCRIPTION</td>
                            <td>
                                <ul class="icons-list">
                                    <li class="btnEdit" data-index=@i>
                                        <button type="button" class="btn btn-default btn-sm text-primary-600" data-toggle="modal" data-target="#modal_default"><i class="icon-pencil7"></i></button>
                                    </li>
                                    <li class="btnDelete" data-id=@Model[i].PRODUCT_ID>
                                        <button type="button" class="btn btn-default btn-sm text-danger-600"><i class="icon-trash"></i></button>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="">
    @{ Html.RenderAction("_Pagination", "Home", new { maxNumber = ViewBag.maxNumber, pageNumber = ViewBag.pageNumber });}
</div>

<script>
    let url_get = "/KhoHang/_DanhSach";
    let getParamsForSearch = (pageNumber,isNext)=>{
        return {
            "keyText": $(".txtSearch").val(),
            "pageNumber": pageNumber + isNext,
            "pageSize": $(".select2-selection--single").val(),
            //"priceFrom":$(".pricefrom").val().split(",").join(""),
            //"priceTo":$(".priceto").val().split(",").join("")
        };
    }
    var features = new Features(url_get, @Html.Raw(jsonModel),getParamsForSearch);

    features.CheckUpdateAndFillInfo();
    let data = (index) => {
        let model = features.dataModel
        if (features.update) {
            return {
                PRODUCT_ID: model[features.index].PRODUCT_ID,
                PRODUCT_PRICE:$("#PRODUCT_PRICE").val(),
                PRODUCT_IMAGE: $("#PRODUCT_IMAGE").name
            }
        } else {
            return {
                PRODUCT_PRICE:$("#PRODUCT_PRICE").val(),
                PRODUCT_IMAGE: $("#PRODUCT_IMAGE").name
            }
        }
    };
    $(".txtCurrency").each(function () {
        $(this).text(features.FormatCurency($(this).text().split(",")[0]));
    });
    features.insertOrUpdate("/Ajax/AddOrUpdateProduct", data, getParamsForSearch);
    features.Delete("/Ajax/DeleteProduct",getParamsForSearch);
</script>
