@using CORE.Tables
@{
    var boxes = (List<TB_BOXES>)ViewBag.boxes;
    var subjects = (List<TB_SUBJECTS>)ViewBag.subjects;
    var teachers = (List<TB_USERS>)ViewBag.teachers;
    var boxSubject = (List<CORE.Views.V_BOX_SUBJECT>)ViewBag.BoxSubject;
    var room = (List<TB_ROOM_CLASS>)ViewBag.Room;
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h5 class="modal-title">Chi tiết</h5>
        </div>
        <div class="modal-body">
            <!-- Voucher info -->
            <div class="panel panel-flat">
                <div class="panel-body" style="max-height: 600px;overflow-y: auto;">
                    <form action="#">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="hidden" value="" class="form-control" id="ScheduleId">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="row">
                                <div class="col-md-6">
                                    <label>Khối</label>
                                    <select class="form-control select-search" id="BoxId" onchange="changeBox()">
                                        @foreach (var box in boxes)
                                        {
                                            <option value="@box.BoxId">@box.BoxCode</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label>Tên môn học:</label>
                                    <select class="form-control select-search" id="BoxSubjectId" disabled>
                                        @foreach (var subject in boxSubject)
                                        {
                                            <option value="@subject.SubjectId">@subject.SubjectName</option>
                                        }

                                    </select>
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Giờ vào</label>
                                    <div class="input-group">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="icon-alarm"></i></span>
                                            <div class="input-group">
                                                <input type="text" onchange="CheckValue()" class="form-control pickatime" id="TimeStart">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label>Giờ kết thúc</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="icon-alarm"></i></span>
                                        <div class="input-group">
                                            <input type="text" onchange="CheckValue()" class="form-control pickatime" id="TimeEnd">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Ngày bắt đầu</label>
                                    <div class="input-group">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="icon-alarm"></i></span>
                                            <input type="text" placeholder="dd/mm/yyyy" class="form-control pickadate" id="DateStart">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label>Ngày kết thúc</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="icon-alarm"></i></span>
                                        <input type="text" placeholder="dd/mm/yyyy" id="DateEnd" class="form-control pickadate ">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="row">
                                <div class="col-md-6">
                                    <label>Giá</label>
                                    <input type="text" class="form-control not-empty" id="Price" readonly>
                                </div>
                                <div class="col-md-6">
                                    <label>Ngày học</label>
                                    <select class="form-control select-search" onchange="CheckValue()" id="dayOfWeek">
                                        <option value="">Chọn ngày học</option>
                                        <option value="THU2">Thứ 2</option>
                                        <option value="THU3">Thứ 3</option>
                                        <option value="THU4">Thứ 4</option>
                                        <option value="THU5">Thứ 5</option>
                                        <option value="THU6">Thứ 6</option>
                                        <option value="THU7">Thứ 7 </option>
                                        <option value="CN">Chủ nhật</option>

                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="row">
                                <div class="col-md-6">
                                    <label>Chọn lớp học</label>
                                    <select class="form-control select-search txtboxes text-center no-padding" onchange="selectRoomClass()" id="roomId">
                                        <option value="">-- Chọn lớp học --</option>
                                        @for (int i = 0; i < room.Count; i++)
                                        {
                                            <option value="@room[i].RoomId">@room[i].RoomName</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label>Giáo viên chính</label>
                                    <select class="form-control select-search txtboxes text-center no-padding" onchange="selectGiaoVien()" id="UserId" disabled>
                                        <option value="">-- Chọn giáo viên --</option>
                                        @for (int i = 0; i < teachers.Count; i++)
                                        {
                                            <option value="@teachers[i].UserId">@teachers[i].UserFullName</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="row">
                                <div class="col-md-6">
                                    <label>Trạng thái:</label>
                                    <select class="form-control select-search" id="Status">
                                        <option value="A" selected="selected">Kích hoạt</option>
                                        <option value="D" selected="selected">Không kích hoạt</option>
                                    </select>
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                    <label>Ảnh đại diện: </label>
                                </div>
                                <div class="col-md-9">
                                    <input type="file" class="form-control-file" onchange="encodeImageFileAsURL(this)" id="image">
                                </div>
                                <div class="col-md-9" hidden>
                                    <input type="text" class="form-control-file" id="ScheduleFileId">
                                </div>

                            </div>
                        </div>
                        <div class="form-group" hidden id="imageHidden">
                            <div class="row">
                                <div class="col-md-3">
                                    <label>Hình ảnh mô tả tạm thời : </label>
                                </div>
                                <div class="col-md-9">
                                    <img src="" width="80" id="fileImage">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Mô tả</label>
                                    <textarea rows="8" id="UserNote" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /Voucher info -->
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-link" data-dismiss="modal">Đóng</button>
            <button type="button" onclick="UploadFile()" class="btn btn-primary btnSave">Lưu</button>
        </div>
    </div>
</div>

<script>
    let boxSubject = @Html.Raw(Json.Encode(boxSubject));
    function changeBox(){
        $('#BoxSubjectId').html('');
        var boxId = $('#BoxId').val();
        var arr = boxSubject.filter(x=>x.BoxId == boxId);
        var html = "";
        for(var i =0;i<arr.length;i++){
            html+= "<option value = "+arr[i].BoxSubjectId+">" + arr[i].SubjectName+"</option>";
        }
        $('#BoxSubjectId').html(html);
        $('#BoxSubjectId').removeAttr("disabled","false");
    }

    function selectGiaoVien(){
        debugger;
        let teachers =  @Html.Raw(Json.Encode(teachers));
        var a = $('#BoxSubjectId').val();
        var price =0.0;
        var salary = 0.0;
        if(a == null){
            price =0;
        }else {
            price =boxSubject.filter(x=>x.BoxSubjectId == a)[0].BoxSubjectPrice;
            var teacher = $('#UserId').val();
            salary= parseFloat(teachers.filter(x=>x.UserId == teacher)[0].UserNumberSalary);
        }

        $('#Price').val(price*salary);
    }
    function selectRoomClass(){
        checkRoom = "";
        var timeFrom = ConvertTime($('#TimeStart').val());
        var timeTo = ConvertTime($('#TimeEnd').val());
        var params = {
            roomId : $('#roomId').val(),
            dayOfWeek: $('#dayOfWeek').val(),
            timeFrom: timeFrom.split(":")[0],
            timeTo: timeTo.split(":")[0]
        };
        console.log(params);
        $.ajax({
            url: "/Admin/Ajax/CheckRoomClass",
            type: "Post",
            data:params,
        }).done(function (result) {
            console.log(result);
            if (result.Data.Code != "0") {
                if(checkRoom == ""){
                    toastr.info("Phòng học đã có lớp học. Vui lòng lựa chọn phòng khác");
                }
            }
        });
    }
    function CheckValue(){
        CheckValidateTeacher();
    }
    function CheckValidateTeacher(){
        if($('#UserId').val() != null){
            //if($('#UserId').val().length ==0){
            var timeFrom = ConvertTime($('#TimeStart').val());
            var timeTo = ConvertTime($('#TimeEnd').val());
            var dayOfWeek = $('#dayOfWeek').val();
            if(timeFrom.length >0 &&  timeTo.length >0 && dayOfWeek.length >0){
                GetTeacher(dayOfWeek , timeFrom, timeTo);
            }

            //}
        }

    }
    function ConvertTime(time){
        var result="";
        var am = time.indexOf("AM");
        var pm = time.indexOf("PM");
        if(am != -1){
            var time = time.split('AM')[0].trim();
            result = time + ":00";
        }else if(pm != -1){
            var time = time.split('PM')[0].trim();
            var arr = time.split(':');
            result = (parseInt(arr[0])+12) + ":"+arr[1]+":"+"00";
        }
        return result;
    }
    function GetTeacher(dayOfweek , timeFrom, timeTo){

        var params = {
            dayOfWeek: dayOfweek,
            timeFrom: timeFrom,
            timeTo: timeTo
        };
        console.log(params);
        $.ajax({
            url: "/Admin/Ajax/GetTeacherByDateWeekTime",
            type: "Post",
            data:params,
        }).done(function (result) {
            console.log(result);
            if (result.Data.Code == "0") {
                $('#UserId').html('');

                var arr = result.Data.Result;
                var html = "";
                for(var i =0;i<arr.length;i++){
                    if(arr[i].UserId == idGiaoVien){
                        html+= "<option value = "+arr[i].UserId+" selected>" + arr[i].UserFullName+"</option>";
                    }else {
                        html+= "<option value = "+arr[i].UserId+">" + arr[i].UserFullName+"</option>";
                    }

                }
                var a = "<option value = ''> Chọn giáo viên</option>";
                $('#UserId').html(a+html);
                $('#UserId').removeAttr("disabled","false");

            }
        });


    }


    function encodeImageFileAsURL(element) {
        image = "";
        var file = element.files[0];
        var reader = new FileReader();
        reader.onloadend = function () {
            image = reader.result;
            $('#imageHidden').removeAttr('hidden');
            $('#fileImage')[0].src = image;
        }
        reader.readAsDataURL(file);
    }

    $(".btnAdd").click(function () {
        $(".modal-title").text("Thêm mới nhân viên");
        $('#imageHidden').attr('hidden', true);
        $('#image')[0].src = '';
    })

    function UploadFile() {
        //if (validate()) {
        var file = $('#image').get(0).files[0];
        if (file == undefined) {
            saveData('');
        } else {
            var data = new FormData();
            data.append('files', file);
            console.log("data", data);
            $.ajax({
                type: "Post",
                url: "/Admin/Ajax/UploadFiles",
                data: data,
                contentType: false,
                processData: false,
                success: function (result) {
                    console.log(result);
                    if (result.Data.Code == 0) {
                        $('#ScheduleFileId').val(result.Data.Result);
                        //$('.btnSave').click();
                        saveData(result.Data.Result);

                    } else {
                        toastr.info('Có lỗi xảy ra khi Upload ảnh');
                    }

                }
            });
        }

        //}
    }

    function saveData(idFile) {
        var param = features.getValueFromModal();
        var url = "/Admin/Ajax/InsertOrUpdateClass";
        var isUpdate = false;
        if (param.UserId > 0 ) {
            isUpdate = true;
        }
        param.DateStart = param.DateStart.split('/').reverse().join('-');
        param.DateEnd = param.DateEnd.split('/').reverse().join('-')
        var params = {
            value: param,
            isUpdate : isUpdate
        };
        $.ajax({
            url: url,
            type: "post",
            data: params,
        }).done(function (result) {
            if (result.Data.Code == "0") {
                toastr.success(result.Data.Result);
                location.href = "/Admin/Class/Index";
            } else {
                toastr.info(result.Data.Result);
            }

        });
    }


</script>