@{
    ViewBag.Title = "Studies";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@using CORE.Tables
@using CORE.Views
@model CORE.Tables.TB_SCHEDULES

@{
    var subjects = (List<TB_SUBJECTS>) ViewBag.subjects;
    List<TB_USERS> teachers = (List<TB_USERS>) ViewBag.teachers;
    List<TB_USERS> students =(List<TB_USERS>) ViewBag.students;
    List<TB_USERS> studies =(List<TB_USERS>) ViewBag.studies;
    int id = (int) ViewBag.id;
    var detail = (V_CLASS)ViewBag.detail;
}


<input type="hidden" id="scheduleId" value="@id">

<div class="page-header page-header-default">
    <div class="page-header-content" style="background-color: #fcfcfc;">
        <div class="page-title" style="padding: 20px 0;">
            <h4>
                <a href="javascript:void(0);" onclick="history.go(-1);"><i class="icon-arrow-left52 position-left"></i></a>
                <span class="text-semibold">Lớp học</span> -Thông tin lớp học
            </h4>
        </div>
    </div>
</div>
<div class="div-h100 div-top69">
    <div class="panel-body div-h100-body">
        <div class="div-h100 div-top105">
         
            <div class="div-h100 div-top56">
                <div class="row">
                    <div class="col-md-1 " style="padding-top: 7px;">Mã lớp</div>
                    <div class="col-md-5">
                        <input type="text" readonly="" value="@Model.ScheduleId" class="form-control" id="ScheduleId" />
                    </div>
                    <div class="col-md-1 " style="padding-top: 7px;">Thời gian bắt đầu </div>
                    <div class="col-md-5">
                        <input type="text" readonly="" value="@Model.ScheduleDateBegin" class="form-control" id="ScheduleDateBegin" />
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-1" style="padding-top: 7px;">Giáo viên chính </div>
                    <div class="col-md-5">
                        
                        @foreach (var teacher  in teachers)
                        {
                            if (teacher.UserId.Equals(Model.ScheduleUserId))
                            {
                                <p class="form-control">@teacher.UserFullName</p>

                            }
                        }
                    </div>
                    <div class="col-md-1 " style="padding-top: 7px;">Thời gian kết thúc </div>
                    <div class="col-md-5">
                        <input type="text" readonly="" value="@Model.ScheduleDateEnd" class="form-control" id="ScheduleDateEnd">
                    
                    </div>
                    
                </div>
                
                <div class="data-table div-h100-body">
                    <p >Danh sách học sinh trong lớp</p>
                    <div class="div-h100 ">
                        <div class="div-h100-body">
                            <div class="well">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th class="fixed-col">STT</th>
                                        <th>Mã học sinh</th>
                                        <th>Tên học sinh</th>
                                        <th>Ngày đăng kí</th>
                                        <th>Hành động</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    @for (int i =0;i<studies.Count;i++)
                                    {
                                        <tr class="text-center">
                                            <td class="fixed-col">@(i+1)</td>
                                            <td>@studies[i].UserId</td>
                                            <td>@studies[i].UserFullName</td>
                                            <td>@studies[i].UserDateCreated</td>
                                            <td class="text-center">
                                                <ul class="icons-list">
                                                    <li class="btnDelete" onclick="onDelete(this)" data-id="@studies[i].UserId" data-title="Bạn có chắc chắn muốn xóa bản ghi? ">
                                                        <button type="button" class="btn btn-default btn-sm text-danger-600"><i class="icon-trash"></i></button>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                    }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="data-table div-h100-body">
                    
                    <p >Danh sách học sinh </p>
                    <div class="div-h100 ">
                        <div class="div-h100-body">
                            <div class="well">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th><input type="checkbox" id="checkAll" /></th>
                                        <th class="fixed-col">STT</th>
                                        <th>Mã học sinh</th>
                                        <th>Tên học sinh</th>
                                        <th>Ngày đăng kí</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    @for (int i = 0; i < students.Count; i++)
                                    {
                                        <tr class="text-center">
                                            <td><input type="checkbox" name="userids" value="@students[i].UserId"/></td>
                                            <td class="fixed-col">@(i + 1)</td>
                                            <td>@students[i].UserId</td>
                                            <td>@students[i].UserFullName</td>
                                            <td>@students[i].UserDateCreated</td>

                                        </tr>
                                    }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
     <button class="btn btn-primary float-right btnAdd" style="right:40px;" type="button" id="btn-update-students"><i class="fa fa-edit"></i> Cập nhật danh sách học sinh</button>
</div>

<script >
    $("#checkAll").click(function(){
        $('input:checkbox').not(this).prop('checked', this.checked);
    });
    function onDelete(event){
        
            if(confirm('Bạn chắc chắn muốn xóa học sinh ra khỏi lớp')){
                var id = event.dataset.id;
                let userids = [];
                userids.push(id);
                $.ajax({
                    url: "/Admin/Ajax/AddStudents",
                    type: "post",
                    data: {
                        ScheduleId : $("#scheduleId").val(),
                        Userids : userids,
                        type : "DELETE"
                    },
                }).done(function (Data) {
                    if (Data.Data.Code == 0) {
                        toastr.success(Data.Data.Result);
                           
                        setTimeout(function () {
                            window.location.reload();
                        }, 1500);
                    } else {
                        toastr.error(Data.Data.Result);
                    }
                });
            }
    }
   
    $("#btn-update-students").click(()=>{
        let userids = [];
        $("input[name=userids]:checked").each(function() { 
             userids.push($(this).val()); 
        }); 
        $.ajax({
                        url: "/Admin/Ajax/AddStudents",
                        type: "post",
                        data: {
                            ScheduleId : $("#scheduleId").val(),
                            Userids : userids,
                            type : "INSERT"
                        },
                    }).done(function (Data) {
                        if (Data.Data.Code == 0) {
                            toastr.success(Data.Data.Result);
                           
                            setTimeout(function () {
                                  window.location.reload();
                             }, 1500);
                        } else {
                            toastr.error(Data.Result);
                        }
                    });
    })
            

</script>