@{
    ViewBag.Title = "Class";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    List<CORE.Tables.TB_FILES> file = ViewBag.File;
    var count = (List<CORE.Views.V_NUMBER_STUDIES>)ViewBag.Count;
}

@model List<CORE.Views.V_SHEDULES_CLASS>

<!-- Page Banner Area Start -->
<div class="page-banner-area overlay section">
    <div class="container">
        <div class="row">
            <!-- Page Banner -->
            <div class="page-banner text-center col-xs-12">
                <h1>Our Classes</h1>
                <!-- Breadcrumb -->
                <ul class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li><a href="#">Our Classes</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End of Page Banner Area -->
<!-- Course Area Start -->
<div class="course-area bg-white section pt-120 pb-90">
    <div class="container">
        <!-- Course Wrapper -->
        <div class="course-wrapper row">


            <!-- News Area Start -->
            <div class="news-area bg-white section pt-120 pb-90">
                <div class="container">
                    <div class="row">
                        @foreach (var clas in Model)
                        {
                            <!-- News Item -->
                            <div class="col-md-4 col-sm-6 col-xs-12 mb-30">
                                <div class="news-item">
                                    <a class="image" href="@Url.Action("Detail",new {scheduleId = clas.ScheduleId })">
                                        @if (string.IsNullOrEmpty(clas.ScheDuleDetails[0].ScheduleFileId))
                                        {
                                            <img src="~/Assets/img/course/1.jpg" alt="">
                                        }
                                        else
                                        {
                                            <img style="height:250px;" src="@file.Where(x=>x.FileId.ToString().Equals(clas.ScheDuleDetails[0].ScheduleFileId)).FirstOrDefault().FileUrl" />
                                        }
                                    
                                    </a>
                                    <div class="content">
                                        <h4 class="title"><a href="@Url.Action("Detail",new {scheduleId = clas.ScheduleId })">Mã lớp : @clas.ScheDuleDetails[0].ScheduleCode</a></h4>
                                        <div class="news-meta fix">
                                            @{ 
                                                var time = "";
                                                for(var i = 0; i < clas.ScheDuleDetails.Count; i++)
                                                {
                                                    var a = clas.ScheDuleDetails[0];
                                                    if (i == clas.ScheDuleDetails.Count - 1)
                                                    {
                                                        time += a.ScheduleDetailTimeFrom - a.ScheduleDetailTimeTo + "  ";
                                                    }else
                                                    {
                                                        time += a.ScheduleDetailTimeFrom - a.ScheduleDetailTimeTo + " và ";
                                                    }
                                                }

                                            }
                                            
                                            <span><i class="zmdi zmdi-calendar-check"></i>Thời gian học : @time</span>
                                            <a href="#"><i class="zmdi zmdi-eye"></i>Số lượng học sinh trong lớp : @count.Where(x=>x.ScheduleId == clas.ScheduleId).FirstOrDefault().CountStudie</a>
                                          
                                        </div>
                                        <p>
                                            @{
                                                var result = "";
                                                if (clas.ScheDuleDetails[0].ScheduleDetailNote.ToArray().Length > 40)
                                                {
                                                    result = clas.ScheDuleDetails[0].ScheduleDetailNote.Substring(0, 35) + "....";
                                                }
                                                else
                                                {
                                                    result = clas.ScheDuleDetails[0].ScheduleDetailNote;

                                                }
                                                @result
                                            }

                                        </p>
                                        <a href="@Url.Action("Detail",new {scheduleId = clas.ScheduleId })">Chi tiết</a>
                                    </div>
                                </div>
                            </div>
                                                }

                    </div>
                </div>
            </div>
            <!-- Course Item -->




        </div>
    </div>
</div>
<!-- End of Course Area -->