
@{
    ViewBag.Title = "Schedules";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    List<CORE.Tables.TB_USERS> list = ViewBag.User;
}

@model List<CORE.Views.V_SCHEDULE_DETAILS>

<!-- Page Banner Area Start -->
<div class="page-banner-area overlay section">
    <div class="container">
        <div class="row">
            <!-- Page Banner -->
            <div class="page-banner text-center col-xs-12">
                <h1>SCHEDULES</h1>
                <!-- Breadcrumb -->
                <ul class="breadcrumb">
                    <li><a href="/Home">Trang chủ</a></li>
                    <li><a href="#">Lịch dạy học</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End of Page Banner Area -->
<!-- Teachers Area Start -->
<div class="teachers-area section bg-white pt-120 pb-100">
    <div class="container">
        <!-- Section Title -->
        <div class="row">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Mã lớp</th>
                        <th>Ngày trong tuần</th>
                        <th>Thời gian bắt đầu</th>
                        <th>Thời gian kết thúc</th>
                        <th>Giáo viên</th>
                        <th>Giá buổi học</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var schedule in Model)
                    {
                        <tr>
                            <th>@schedule.ScheduleCode</th>
                            <th>@CORE.Helpers.ConvertDataWithView.Convert_DayOfweek(schedule.ScheduleDetailDayOfWeek)</th>
                            <th>@schedule.ScheduleDetailTimeFrom</th>
                            <th>@schedule.ScheduleDetailTimeTo</th>
                            <th>@list.Where(x=>x.UserId == schedule.ScheduleUserId).FirstOrDefault().UserFullName</th>
                            <th>@CORE.Helpers.ConvertDataWithView.Currency_ToView(schedule.SchedulePrice)</th>
                           
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- End of Teachers Area -->
