
@{
    ViewBag.Title = "TrackingDetails";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}


@{


    List<CORE.Tables.TB_USERS> teacher = ViewBag.Teacher;
    List<CORE.Tables.TB_USERS> students = ViewBag.User;
    List<CORE.Views.V_SCHEDULE_DETAILS> details = ViewBag.Schedule;
    List<CORE.Views.V_USER_TRACKED_Details> studies = ViewBag.UserTracked;
    List<DateTime> date = ViewBag.ListDate;
}

@*<input type="hidden" id="scheduleId" value="@id">*@

<div class="page-header page-header-default">
    <div class="page-header-content" style="background-color: #fcfcfc;">
        <div class="page-title" style="padding: 20px 0;">
            <h4>
                <a href="javascript:void(0);" onclick="history.go(-1);"><i class="icon-arrow-left52 position-left"></i></a>
                <span class="text-semibold">Điểm danh</span> - Thông tin điểm danh
            </h4>
        </div>
    </div>
</div>

<div class="teachers-area section bg-white pt-120 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-1 " style="padding-top: 7px;">Lớp học </div>


            <div class="col-md-5">

                <select class="form-control select-search w-100" id="scheduleId" disabled>
                    <option value="" selected>Chọn lớp học</option>
                    @foreach (var a in details)
                    {
                        <option value="@a.ScheduleId" selected>@a.ScheduleCode</option>
                    }
                </select>
            </div>
            <div class="col-md-1" style="padding-top: 7px;" cs>Giáo viên chính </div>
            <div class="col-md-5">
                <input type="text" readonly value="" class="form-control" id="teacher">
            </div>

        </div>
        <div class="row mt-5">
            @*<div class="col-md-1 " style="padding-top: 7px;">Thời gian bắt đầu </div>
            <div class="col-md-3">
                <input type="text" readonly value="" class="form-control" id="startDate">

            </div>
            <div class="col-md-1 " style="padding-top: 7px;">Thời gian kết thúc </div>
            <div class="col-md-3">
                <input type="text" readonly="" value="" class="form-control" id="endDate">

            </div>*@
            <div class="col-md-1 " style="padding-top: 7px;">Ngày điểm danh </div>
            <div class="col-md-3">
                <input type="text" readonly value="@DateTime.Now.ToString("dd/MM/yyyy")" class="form-control pickadate" id="createdDate">

            </div>

        </div>

        <div class="modal-body">
            <form class="teaching-schedules-tracking">

                <div class="form-group">
                    <label for="password">Lịch dạy</label>
                    <table class="table text-center">
                        <thead>
                            <tr class="text-center">
                                <th></th>
                                @foreach (var item in date)
                                {
                                    <th class="text-center">@item.ToString("dd/MM/yyyy")</th>
                                }

                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var user in studies)
                            {
                                <tr class="text-center">
                                    <td>@user.UserFullName</td>
                                    @foreach (var item in date)
                                    {
                                        <td><input type="checkbox" disabled data-day="@item.ToString("dd/MM/yyyy")" data-id="@user.UserId" name="userids" class="schedule-checkbox" /></td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </form>
        </div>
    </div>

    <button class="btn btn-primary float-right btnAdd" style="right:40px;" type="button" id="btn-update-students"><i class="fa fa-edit"></i>Điểm danh</button>
</div>

<script>
    $("#checkAll").click(function(){
        $('input:checkbox').not(this).prop('checked', this.checked);
    });
    let data = @Html.Raw(Json.Encode(studies));
    $(document).ready(function(){
        debugger;
        $('#scheduleId').change();
        const elements = document.querySelectorAll(".teaching-schedules-tracking input");
        elements.forEach((element)=> {
            var day = element.getAttribute("data-day");
            var userId = element.getAttribute("data-id");
            for(var i=0;i<data.length;i++){
                var value = data[i];
                var check = new Date().toLocaleDateString();
                if(value.TrackingDate == null){
                    var demo = '@DateTime.Now.ToString("dd/MM/yyyy")';
                 
                    if(day == demo ){
                        element.disabled = false;
                    }
                }else {
                    for(var t = 0;t<value.TrackingDate.length;t++){
                        var a = value.TrackingDate[t];
                        var demo = '@DateTime.Now.ToString("dd/MM/yyyy")';
                        var date = new Date(a.match(/\d+/)[0] * 1).toLocaleDateString();
                        if(day == demo ){
                            element.disabled = false;
                        }
                        if(day == ConvertJsonDateToDate(date) && userId == value.UserId){
                            element.checked= true;
                        }
                    }
                }
               

            }

        })


    });
    function ConvertJsonDateToDate(date){
        var arr = date.split('/');
        var day , month , year;
        if(arr[0] > 10){
            day = arr[0];
        }else {
            day = "0" + arr[0];
        }
        if(arr[1] > 10){
            month = arr[1];
        }else {
            month = "0" + arr[1];
        }
        year = arr[2];
        return day + "/" + month + "/"+ year;
    }
    $('#scheduleId').change(()=>{
        let value = @Html.Raw(Json.Encode(details));
        let teacher = @Html.Raw(Json.Encode(teacher));
        debugger;
        var data = value[0];
        console.log(data);
        $('#teacher').val(teacher.filter(x=>x.UserId == data.ScheduleUserId)[0].UserFullName);
        $('#startDate').val(ConvertTime(data.ScheduleDetailTimeFrom.Hours) + ":" +ConvertTime(data.ScheduleDetailTimeFrom.Minutes));
        $('#endDate').val(ConvertTime(data.ScheduleDetailTimeTo.Hours) + ":" +ConvertTime(data.ScheduleDetailTimeTo.Minutes));

    });
    function ConvertTime(time){
        var result = "";
        if(time < 10){
            result = "0" + time;
        }else {
            result = time;
        }
        return result;
    }
    function onDelete(event){

        if(confirm('Bạn chắc chắn muốn xóa học sinh ra khỏi lớp')){
            var id = event.dataset.id;
            let userids = [];
            userids.push(id);
            $.ajax({
                url: "/Ajax/AddTrackingSchedules",
                type: "post",
                data: {
                    dateTracking:$('#createdDate').val().split('/').reverse().join('-'),
                    note:"he thong them",
                    schedulesId : $("#scheduleId").val(),
                    listUserId : userids,
                    type : "DELETE"
                },
            }).done(function (Data) {
                if (Data.Data.Code == 0) {
                    toastr.success(Data.Data.Result);

                    setTimeout(function () {
                        window.location.reload();
                    }, 1500);
                } else {
                    toastr.error(Data.Data.Result);
                }
            });
        }
    }







    $("#btn-update-students").click(()=>{
        let userids = [];
        const elements = document.querySelectorAll(".teaching-schedules-tracking input:checked")
        elements.forEach((element)=> {
            var day = element.getAttribute("data-day");
            var demo = '@DateTime.Now.ToString("dd/MM/yyyy")';
            if(day == demo){
                userids.push(element.getAttribute("data-id"));
            }
          
        })
        $.ajax({
            url: "/Ajax/AddTrackingSchedules",
            type: "post",
            data: {
                dateTracking:$('#createdDate').val().split('/').reverse().join('-'),
                note:"he thong them",
                schedulesId : $("#scheduleId").val(),
                listUserId : userids,
                type : "INSERT"
            },
        }).done(function (Data) {
            if (Data.Data.Code == 0) {
                toastr.success(Data.Data.Result);

                setTimeout(function () {
                    window.location.reload();
                }, 1500);
            } else {
                toastr.error(Data.Data.Result);
            }
        });
    })


</script>
