
@{
    ViewBag.Title = "Tracking";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}


@using System
@using System.Web.Mvc.Html
@using CORE.Views;
@using CORE.Tables;
@model List<CORE.Views.V_SHEDULES_CLASS>
@{
    int? totalPage = 0;
    totalPage = (int?)ViewBag.maxNumber;
    var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    serializer.MaxJsonLength = Int32.MaxValue;
    var jsonModel = serializer.Serialize(Model);
    var ok = jsonModel;

    List<CORE.Tables.TB_USERS> listUser = ViewBag.User;


    var boxSubjects = (List<TB_BOX_SUBJECTS>)ViewBag.boxSubjects;
    var users = (List<TB_USERS>)ViewBag.users;

}
<style>
    .table > thead > tr > td:first-child {
        border-left: none;
    }

    .table > thead > tr > td {
        border-left: 1px solid #ddd;
    }

    .table > tbody > tr > td:first-child {
        border-left: none;
    }

    .table > tbody > tr > td {
        border-left: 1px solid #ddd;
    }
</style>
<!-- Page Banner Area Start -->
<div class="page-banner-area overlay section">
    <div class="container">
        <div class="row">
            <!-- Page Banner -->
            <div class="page-banner text-center col-xs-12">
                <h1>Điểm danh</h1>
                <!-- Breadcrumb -->
                <ul class="breadcrumb">
                    <li><a href="/Home">Trang chủ</a></li>
                    <li><a href="#">Điểm danh</a></li>

                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End of Page Banner Area -->
<!-- Teachers Area Start -->
<div class="teachers-area section bg-white pt-120 pb-100">
    <div class="container">
        <!-- Section Title -->
        <div class="row">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="fixed-col">STT</th>
                        <th>Mã lớp</th>
                        <th>Mã khôi</th>
                        <th>Mã môn học</th>
                        @*<th>Giờ bắt đầu - Giờ kết thúc</th>*@
                        <th>Giá</th>
                        <th>Giáo viên chính</th>
                        @*<th>Mô tả</th>*@
                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        foreach (var item in Model[i].ScheDuleDetails)
                        {
                            <tr class="text-center">
                                <td class="fixed-col">@((ViewBag.pageNumber - 1) * ViewBag.pageSize + i + 1)</td>
                                <td>@item.ScheduleCode</td>

                                @foreach (var boxSubject in boxSubjects)
                                {
                                    if (boxSubject.BoxSubjectId.Equals(item.ScheduleIdBoxSubjectId))
                                    {
                                        <td>@boxSubject.BoxSubjectBoxId</td>
                                        <td>@boxSubject.BoxSubjectSubjectId</td>
                                    }
                                }
                                @*<td>@Model[i].ScheduleDetailTimeFrom - @Model[i].ScheduleDetailTimeTo</td>*@
                                <td>@CORE.Helpers.ConvertDataWithView.Currency_ToView(item.SchedulePrice)</td>
                                @foreach (var user in users)
                                {
                                    if (item.ScheduleUserId.Equals(user.UserId))
                                    {
                                        <td>@user.UserFullName</td>

                                    }
                                }
                                @*<td>@item.ScheduleDetailNote</td>*@

                                <td class="text-center">
                                    <ul class="icons-list">
                                        <li>
                                            <a href="@Url.Action("TrackingDetails", new {scheduleId = Model[i].ScheduleId, createdDate = DateTime.Now.ToString("yyyy-MM-dd") })" class="btn btn-default btn-sm text-primary-600"><i class="icon-pencil7"></i> Điểm danh</a>
                                        </li>

                                    </ul>
                                </td>
                            </tr>
                            break;
                        }

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

